    <footer id="info" class="hero is-black is-left">
        <div class="hero-body">
            <div class="container content is-size-6">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" class="columns">
                    <div class="column is-third">
                        <h3 class="title is-white">Yomojo <strong>Newsletter</strong></h3>
                        <p class="subtitle">Join my non-spammy occasional newsletter.</p>
                         <form action="https://tinyletter.com/yomojo" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/yomojo', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="field is-grouped"><p><input type="text" name="email" id="tlemail" placeholder="email address" class="input is-flat required email is-inline control is-expanded" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="button is-primary is-outlined is-inverted control" /></form>
                         <p class="is-size-7"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
         
                        <br>
                         <p class="title is-size-6 is-caps">Copyright {{ site.year_val }} {{ site.copyright }}</p>
                    </div>

                    <div class="column is-third is-left">
                        <h3 class="title is-white is-size-5"><strong>Contact Me</strong></h3>
                        <p class="subtitle is-size-6 "><a  class="flink" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%79%6F%6D%6F%6A%6F%2E%63%6F%2E%75%6B">hello@yomojo.co.uk</a></p>
                        <p class="subtitle notification is-info">1 Bell St
                            <br> London 
                            <br>NW1 5BY</p>
                            
                            <p class="subtitle is-size-6">
                                <a class="flink" href="{{ site.baseurl }}/terms">Terms &amp; Conditions</a>
                        </p>
                            
                    </div>

                    <div class="column is-third is-left">
                        <h3 class="title is-white is-size-5"><strong>Find Me On</strong></h3>
                        <p class="subtitle is-size-6"><a class="flink" href="https://www.twitter.com/rajivshah">Twitter</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>