    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


                <nav class="navbar">
                   <div class="container level is-fluid is-size-5-desktop">
                    <div class="navbar-brand">

                        <a class="navbar-item" href="/">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>
<!--
                    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>
-->
                    <div id="navMenuDocumentation" class="level-right">
                    <div class="navbar-start">
                    {% for item in site.data.navigation.header %}

      
        <a class="navbar-item {{ class }}" href="{{ item.url }}">{{ item.title }}</a>
     
      {% endfor %}
                        </div>
                        <div class="navbar-end"></div>
                       </div>
                    </div>
                </nav>