<section class="section">
       <div class="container">
        <div class="columns content is-medium-desktop">
            <div class="column">
                {% if page.url == '/baked/' %}
                    {% for post in site.categories.baked %}
                <article>
                <h3 class="title is-size-4">{{post.title}}</h3>
                <p class="no-top-margin">{% if post.excerpt %} {{post.excerpt | strip_html}} {% else %} {{post.content | strip_html | truncate: 200}} {% endif %}</p>
                <p class="no-top-margin is-caps"><a href="{{post.url}}">Read More →</a></p>
                </article>
                {% endfor %}
                   {% endif %}
                   
                  {% if page.url == '/interviews/' %}
                    {% for post in site.categories.interview %}
                <article>
                <h3 class="title is-size-4">{{post.title}}</h3>
                <p>{% if post.excerpt %} {{post.excerpt | strip_html}} {% else %} {{post.content | strip_html | truncate: 200}} {% endif %}</p>
                <p><a href="{{post.url}}">Read More →</a></p>
                </article>
                {% endfor %}
                   {% endif %}   
                   
                    {% if page.url == '/random-thoughts/' %}
                    {% for post in site.categories.random %}
                <article>
                <h3 class="title is-size-4">{{post.title}}</h3>
                <p>{% if post.excerpt %} {{post.excerpt | strip_html}} {% else %} {{post.content | strip_html | truncate: 200}} {% endif %}</p>
                <p><a href="{{post.url}}">Read More →</a></p>
                </article>
                {% endfor %}
                   {% endif %} 
                </div>
            </div>
        </div>
</section>
