  <div class="columns shopcat">
  <div class="column">
   <div class="content has-text-centered fabbox">
   <a href="{{site.url }}/skinfood"> 
    <p class="is-size-1">fab skincare</p>
    <p class="is-size-3">100% natural skin<br> care-seriously</p>
       </a>
    </div>
  </div>
  <div class="column">
   <div class="content has-text-centered kraftbox">
   <a href="{{site.url }}/krafttex"> 
    <p class="is-size-1 has-text-white">kraft-tex</p>
    <p class="is-size-3 has-text-white">plantbased leather<br> &amp; fabric alternative</p>
       </a>
    </div>
  </div>
</div>
