---
layout: default
---

  <section class="section products">
            <!-- products -->
       <div class="tile is-ancestor">
                
                <div class="tile is-parent">
                <article class="tile is-child content is-medium-desktop">
                   {% for post in site.skinfood %}
                       {% if post.tags contains 'featured' %}
                {{ post.content }} 

                        {% endif %}
                    {% endfor %}
                    </article>
                </div>
                
              <div class="tile is-4 is-vertical is-parent">
       <h3 class="is-size-4">FAB RANGE</h3>
       
{% for product in site.products %}
 {% if product.tags contains 'fab' %}
     <div class="tile is-child box">
  {% include product.html %}
               </div>

      {% endif %}
{% endfor %}
  
          </div>                                             
     </div>
    </section>
      
<section class="section black-band">
      <div class="container is-fluid">
        <div class="columns">
                <article class="column is-4 content is-small shop-news">
                   {% for post in site.skinfood %}
                       {% if post.tags contains 'news' %}
                    <h4 class="is-caps is-5">
                        {{ post.title }}
                    </h4>

                {{ post.content }} 

                        {% endif %}
                    {% endfor %}
                </article>
                
                                <article class="column is-8 content is-medium-desktop">
                   {% for post in site.skinfood %}
                       {% if post.tags contains 'extra' %}
                
                {{ post.content }} 
              
                        {% endif %}
                    {% endfor %}
                </article>
          </div>
    </div>
    </section>

